.userdash-view{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}

.dash-header{
    width: 100vw;
    height: 7em;
    background-color: grey;
    position: relative;
    right:0;

}

.dash-left{
    width: 15vw;
    height: 100vh;
    background-color: blue;
    position: absolute;
    left: 0;
}

.allJobSearch{
    border: solid 1px black;
    height: 4em;
    width: 30em;
    border-radius: 60px;
    padding-left: 1em;
    float: right;
    margin-bottom:1em;


    // position: relative;
}
.appliedJobSearch{
    border: solid 1px black;
    height: 4em;
    width: 30em;
    border-radius: 60px;
    padding-left: 1em;
    float: left;
    margin-bottom:1em;
    // position: relative;
}

.appliedJobApps-container{
    width: 48vw;
    height: auto;
    float: left;
}

.allJobs-container{
    width: 48vw;
    height: auto;
    float: right;
}
.job-listing{
    display: flex;
    // flex-direction: column;
    // align-items: center;
    // background-color: grey;
    // height: 10em;
    width: 100%;
    // margin: auto;
    // margin-right: 20px;
    a {
        text-decoration: none;
        color: black;
    }
}




.job-title{
    width: 33%;
    display: flex;
    justify-content: flex-start;

}
.job-company{
    width: 33%;
    display: flex;
    justify-content: flex-start;
    
    
}
.job-closing{
    width: 33%;
    display: flex;
    justify-content: flex-start;
    
}

.job-span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 98%;
    height: 60px;
    // margin: 10px;
    border: solid 1px black;
    margin:  1em  0 1em 0 ;
    padding: 0 .5em 0 .5em; 
}

.userDashHeader{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.userDashContent {
    display: flex;
    justify-content: space-around;
}
.searchSpan{
    display: flex;
    justify-content: center;
}
@media(max-width: 1100px){
    .job-span{
        font-size: 0.8em;
    }
}

@media(max-width: 900px){
    .userDashContent{
        flex-direction: column;
    }
    .job-span{
        font-size: 1em;
    }
    .appliedJobApps-container{
        width: 80vw;
        .appliedJobSearch{
            float:none;
        }
    }
    .allJobs-container{
        width: 80vw;
        .allJobSearch{
            float:none;
        }
    }
}
@media(max-width:500px){
    .userdash-view{
        font-size: 0.8em;
    }
    .job-span{
        font-size: 0.9em;
    }
}
@media(max-width:400px){
    .job-span{
        font-size: 0.7em;
    }
}