.resetPasswordContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
    p {
        margin: 5em 0em;
    }
    input {
        width: 20%;
        margin-bottom: 0.5em;
    }
}