.jobpost-view{
    width: 100vw;
    height: 100vh;
    display: flex;
    // flex-direction: column;
    // align-items: center;

}

.left-side{
    height: 100%;
    width: 50%;
    float: left;
    // background-color: rgb(228, 212, 212);
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    padding: 2em;
}

.jobpost-company-job-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 20%;
    margin-top: 30%;
}

.jobpost-company-name{
display: flex;
justify-content: flex-start;
width: auto;
// background-color: peachpuff;
font-size: 3em;
border-bottom: solid 1px black;
}

.jobpost-job-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    // background-color: peachpuff;
    border-bottom: solid 1px black;
    font-size: 2em;
}

.jobpost-open-close-dates{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: auto;
    // background-color: peachpuff;
    font-size: 1.5em;
    border-bottom: solid 1px black;
    
}

.jobpost-job-details{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    background-color: peachpuff;
    border: solid 1px black;
    margin-top: 2em;
    font-size: 1.5em; 
}


.right-side{
    height: 100%;
    width: 50%;
    float: right;
    // background-color: grey;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.record-play-container{
    height: 60%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;


    

}

#record{ 
    height: auto;
    width: 90%;
    // margin: auto;
}
#playback{
    height: auto;
    width: 90%;
}

@media(max-width:1100px){
    .jobpost-job-details{
        width: 70%;
    }
}

@media(max-width: 750px){
    .jobpost-view{
        font-size: 0.8em;
    }
}

@media(max-width: 500px){
    .jobpost-company-job-info{
        margin-top:10em;
    }
    .jobpost-view{
        flex-direction: column;
    }
    .left-side {
        width: 100%;
        .jobpost-company-job-info{
            align-items: center;
        }
        .jobpost-job-details{
            width: 100%;
        }
    }
    .right-side{
        width: 100%
    }
}