.hide {
    display: none;
}


.spinner {
    // The height here is just for demo purposes
    height: 100px;  
    position: relative;
    
    &::before {
        border: solid 3px #eee;
        border-bottom-color: #EF6565;
        border-radius: 50%;
        content: "";
        height: 40px;
        left: 5%;
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 40px;
    }
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
         transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}
.spinner {
    // The height here is just for demo purposes
    height: 100px;
    opacity: 1;
    position: relative;
    transition: opacity linear 0.1s;    
    &::before {
        animation: 2s linear infinite spinner;
        border: solid 3px #eee;
        border-bottom-color: #EF6565;
        border-radius: 50%;
        content: "";
        height: 40px;
        left: 5%;
        opacity: inherit;
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        transform-origin: center;
        width: 40px;
        will-change: transform;
    }
}



@media only screen and (max-width: 600px){

    #filler-video{
        width: 200px;
        height: 200px;
    }

    .hide{
        display: none;

    }
    #record{
        display: none;
    }
    
    #playback{
        height: 200px;
        width: 200px;
    }
    #record-button{
        display: none;
    }

    #stop-recording{
        display: none;
    }

 

    .picture-upload{
        display: none;
    }


    

}


@media only screen and (min-width: 601px){

    .video-capture{
        display: none; 
    }

    .mobile-upload{
        display: none;
    }
    }


@media(max-width:1100px){
    iframe{
        width: 450px;
    }
}
@media(max-width: 1000px){
    iframe{
        width: 350px;
    }
}
@media(max-width: 750px){
    iframe{
        width: 250px;
    }
    .video-capture{
        width: 80%;
    }
}
@media(max-width: 500px){
    .videoContainer{
        width: 100%;
    }
}