.adminJobPostContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin: 1.5em;
    // margin-top: 55px;
    padding-top: 75px;
    padding: 75px 1.5em;
}

.adminJobPostSelectedView{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.resumeViewerInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    p{
        margin-left: 3em;
        margin-bottom: 1em;
    }
}
.noteButtonContainer{
    display: flex;
    justify-content: space-around;
    button {
        padding: 0.7em;
        border-radius: 10px;
    }
}
.resumeBlockButton{
    background: red;
    font-size: 1em;
    font-weight: bold;
    color: white;
}

#resumeViewer{
    height: 60%;
    max-height: 40vh;
}

.carouselDisplay{
    display: flex;
    margin: 1.5em;
    overflow: hidden;
}

.adminJobPostResumeCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1.5em;
    cursor: pointer;
}

.likedVid {
    background: green;
    color: white
}

.dislikedVid {
    background: yellow;
}

.postVidAndButtons{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    video {
        width: 70%;
    }
}

.resumeViewerButtons{
    display: flex;
    justify-content: space-evenly;
    width: 98%;
    margin-top: 1em;
    button{
        padding: 1em 2.5em;
        border-radius: 10px;
    }
}

.slick-list{
    margin-top: 15%;
}

//code shamelessly stolen from www.bestcssbuttongenerator.com:


.myButton {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}

.jobslider{
    width: 75vw;
}


@media(max-width:768px){
    .adminJobPostContainer{
        font-size: 0.8em;
        button{
            padding: 0.6em;
        }
    }
    .noteButtonContainer{
        flex-direction: column;
        align-items: center;
        button{
            padding: 0.3em;
            width: 40%;
            margin-bottom: 0.3em;
        }
    }
    .postVidAndButtons {
        margin-top: 4em;
    }
}
@media(max-width: 550px){
    .adminJobPostSelectedView{
        flex-direction: column;
    }
    .resumeViewerInfo{
        width: 100%;
        margin-top: 3em;
    }
    .myButton{
        width: 4em;
        min-height: 4em;
    }
}