@mixin centerRegister(){
    display:grid;
    grid-template-columns: 1fr;
};

.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkboxes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    width: 20px;
    margin-left: 15px;
}

.registerPlate {
    height: 550px;
    margin-top: 23px;
}

#company-name-input {
    margin-bottom: 10px;
}

.newCompanyLink {
    display: block;
}

@media (max-height: 605px){
    .registerPlate{
        margin-top: 100px;
    }
}