@mixin centerRegister(){
    display:grid;
    grid-template-columns: 1fr;
};

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputContainers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    grid-gap: 1em;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
        display: flex;
    }
    .owner-container {
        display: flex;
        flex-direction: column;
    }
}

