// imports for components 
@import './components/UserLogin/UserLogin';
@import './components/Register/Register';
@import './components/AdminLogin/AdminLogin';
@import './components/RegisterCompany/RegisterCompany';
@import './components/Dashboard/Dashboard';
@import './components/Dashboard/AdminDashboard/AdminDashboard';
@import './components/Dashboard/UserDashboard/UserDashboard';
@import './components/About/About';
@import './components/LandingPage/LandingPage';
@import './components/RecordVideo/RecordVideo';
@import './components//JobPost//JobPost';
@import './components//Nav/Nav';
@import './components/AdminJobPost/AdminJobPost';
@import './components/Profile/Profile';
@import './components/Profile/UserProfile/UserProfile';
@import './components/Profile/AdminProfile/AdminProfile';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Vesper Libre', serif;
  // font-family: 'Open Sans', sans-serif;
  color: #212529;
  word-spacing: .1px;
  letter-spacing: calc(.1px/100vh);
}

