// imports for components 
@import './components/UserLogin/UserLogin';
@import './components/Register/Register';
@import './components/AdminLogin/AdminLogin';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

