// imports for components 
@import './components/UserLogin/UserLogin';
@import './components/Register/Register';
@import './components/AdminLogin/AdminLogin';
@import './components/RegisterCompany/RegisterCompany';
@import './components/Dashboard/Dashboard';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

