.nav-menu{
    width: 100vw;
    height: 60px;
    background-color: #212529;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
    font-size: 13px;
    color: white;
}

.navLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 18px;
}

.about {
    margin-left: 40px;
}

.logo {
    height: 35px;
}

#icon{
    height: 2em;
    width: 2em;
}

.navRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profileBtn {
    margin-right: 40px;
}