.nav-menu{
    width: 100vw;
    height: 55px;
    background-color: #212529;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
    font-size: 10px;
    color: white;
}

.navLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60%;
}

.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    cursor: pointer;
}

.about {
    margin-left: 40px;
}

.logo {
    height: 35px;
}

#icon{
    height: 22px;
}

.navRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60%;
}

.profileBtn {
    margin-right: 40px;
}