<<<<<<< HEAD
.adminLoginContainer {
    display: grid;
    justify-content: center;
    margin-top: 10%;
    grid-template-columns: 30%;
    grid-gap: 1.5em;
    input{
        text-align: center;
    }
    button {
        width:50%;
        justify-self: center;
    }
=======
.loginSwitch {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  outline:none;
>>>>>>> master
}